.close_button {
  text-align: right;
  //width: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.container {
  padding-left: 8px;
  width: 90%;
  float: left
}

.left {
  float: left;
  text-align: left;
}
.right {
  text-align: right;
}
