extends:
  - airbnb
  - plugin:prettier/recommended

plugins:
  - prettier

parser:
  babel-eslint

env:
  browser: true
  node: true
  jasmine: true

rules:
  prettier/prettier: ["error"]
  object-curly-newline: ["error", { multiline: true }]
  react/jsx-filename-extension: 0
