.toolbar{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 60px;
  background-color: #263238;
  padding-top: 20px;
}

.bottom_bar {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 60px;
}