.card {
  width: 100%;
}

.optionIcon {
  font-size: 1.3em !important;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 0px;
  margin-left: -4px;
  //margin-top: -4px;
}

.optionText {
  font-size: 1.1em !important;
  vertical-align: top;
  margin-top: 6px;
 //padding-bottom: 16px;
}
